.{
	padding: 0px;
	margin:0px;
}
.sub
{
	font-family: 'Kaushan Script', cursive;
	text-align: center;
	color:black;
	font-size: 25px;
}
.backgrounds {
  width: 100%;
  height: 100%;
  position: fixed;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  z-index: -1; }
  .backgrounds .background {
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    background-attachment: fixed; }

.overlay:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
   }
   .recent
   {
   	font-family: 'Dancing Script', cursive;
   	padding:5%;
   	margin-left:10%;
   	color: white;
   }
   .viewed
   {
   	font-family: 'Dancing Script', cursive;
   	padding:5%;
   	margin-left:60%;
   }
   .upcomming
   {
   	font-family: 'Dancing Script', cursive;
   	padding: 5%;
   	margin-left:10%;
   }