*
{
	margin:0;
	padding:0;
}
html,body
{
	height:100%;
}
.container1
{
	min-height:100%;
}

.main1
{
	overflow:auto;
	padding-bottom: 230px;
}

.footer
{
	background-color: #000;
	position: relative;
	height: 230px;
	margin-top: -230px;
	clear: both;
	color:white;

}
.footer a
{
	float:right;
	padding:5px;
	text-decoration: none;
	color: white;

}
.heading
{
	
	font-size:20px;
	text-align:left:
	padding:10px;
	color: #70A2FA;
}
.span a
{
	text-decoration:none;
	float:right;
	overflow:hidden;	
	padding:5px;
	color:#70A2FA;
}
.navbar1
{
	
	text-align:center;
	padding:10px;
}
.navbar1 a 
{
	 text-decoration: none;
	padding:5px;
	color:#70A2FA;
	font-size:20px;
}
.align
{
 margin-left:15%;
}
.align1
{
margin-left:300px;
}


@media screen and (max-width: 600px){
    .align{
	-ms-flex: 100%;
        flex: 100%;
       
	max-width:100%;
    }
}