*
{
	margin:0;
	padding:0;
}
html,body
{
	height:100%;
}
.container
{
	min-height:100%;
}

.main
{
	overflow:auto;
	padding-bottom: 230px;
}

.footer
{
	background-color: #000;
	position: relative;
	height: 230px;
	margin-top: -230px;
	clear: both;
	color:white;

}
.footer a
{
	float:right;
	padding:5px;
	text-decoration: none;
	color: white;

}
.heading
{
	font-size:20px;
	text-align:left:
	left:10%;
	padding:5px;
}
.span a
{
	text-decoration:none;
	float:right;
	overflow:hidden;	
	padding:5px;
	color:#70A2FA;
}
.navbar
{
	text-align:center;
	padding:5px;
}
.navbar a 
{
	 text-decoration: none;
	padding:5px;
	color:#70A2FA;
}
.list 
{
	color:green;
	font-size: 20px;
	padding: 10px;
	margin-top:5%;

}
.list a
{
	text-decoration: none;
	color:#70A2FA;
}