
*
{
	margin:0;
	padding:0;
}
html,body
{
	height:100%;
}
.container
{
	min-height:100%;
}

.main
{
	overflow:auto;
	padding-bottom: 230px;
}

.footer
{
	background-color: #000;
	position: relative;
	height: 230px;
	margin-top: -230px;
	clear: both;
	color:white;

}
.footer a
{
	float:right;
	padding:5px;
	text-decoration: none;
	color: white;

}
.heading
{
	
	font-size:20px;
	text-align:left:
	padding:10px;
	color: #70A2FA;
}
.span a
{
	text-decoration:none;
	float:right;
	overflow:hidden;	
	padding:5px;
	color:#70A2FA;
}
.navbar
{
	
	text-align:center;
	padding:10px;
}
.navbar a 
{
	 text-decoration: none;
	padding:5px;
	color:#70A2FA;
	font-size:20px;
}
.heading1
{
	color:#70A2FA;
	text-align:center;
	font-size:22px;
	margin-top:5%;
}
.subheading
{
	color:#70A2FA;
	text-align:center;
	font-size:12px;
}

.article
{
	margin-left:10%;
	margin-right:10%;
	margin-top:1%;
}
ul a
{
	text-decoration:none;
	color:#70A2FA;
}	
